@use '../variables.scss' as v;
.nav {
  height: 5rem;
  background: v.$clr-primary-1;
  display: flex;
  align-items: center;
  justify-content: center;
  &-center {
    width: 90vw;
    margin: 0 auto;
    max-width: v.$max-width;

    .nav-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        letter-spacing: v.$spacing;
        span {
          color: v.$clr-primary-5;
        }
      }

      .toggle-btn {
        font-size: 2rem;
        box-shadow: none;
        transition: v.$transition;
        padding: 0;
      }
      .toggle-btn:hover {
        transform: translateY(-5px);
      }
    }
    .nav-links {
      display: none;
    }
    .cart-container {
      display: none;
    }
  }
  @media screen and (min-width: 992px) {
    &-center {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .toggle-btn {
        display: none;
      }
      .cart-container {
        display: block;
      }
      .nav-links {
        display: flex;
        gap: 1rem;
        .nav-link {
          color: #222;
          text-transform: capitalize;
          font-weight: 600;
          letter-spacing: v.$spacing;
        }
        .nav-link:hover {
          border-bottom: 1px solid black;
        }
      }
    }
  }
}
