@use './variables.scss' as v;
.about-bg {
  img {
    height: 600px;
    object-fit: cover;
  }
}
.about-img {
  margin-bottom: 1.5rem;
}
.about-info p {
  margin-bottom: 2rem;
  line-height: 1.5;
}
@media screen and (min-width: 992px) {
  .about-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    .about-info {
      margin: 0;
      display: flex;
      gap: 2rem;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    .about-btn {
      text-transform: capitalize;
      font-weight: 600;
    }
    .about-btn:hover {
      background: rgba(0, 0, 0, 01);
      color: v.$clr-white;
    }
  }
}
