.error-container {
  height: calc(100vh - 10rem);
  display: grid;
  place-items: center;
  .error-content {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 2rem;
  }
  img {
    width: 40rem;
  }
}
