@use './variables.scss' as v;
.home-hero {
  min-height: 60vh;
  display: grid;
  place-items: center;
  .hero-img-container {
    display: none;
  }
  @media screen and (min-width: 992px) {
    .hero-img-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      position: relative;
      // img {
      //   display: block;
      //   width: 100%;
      //   height: 550px;
      // }
    }
    .hero-img-container::after {
      content: '';
      position: absolute;
      top: -2rem;
      left: -2rem;
      width: 100%;
      height: 100%;
      background: #fff;
      z-index: -3;
      border: 7px solid v.$clr-primary-5;
    }
  }
  .hero-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin: 0;

    p {
      line-height: 2rem;
      max-width: 30rem;
    }
    .hero-btn {
      background: v.$clr-primary-2;
    }
    .hero-btn:hover {
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    }
  }
}

@media screen and (min-width: 992px) {
  .home-hero {
    height: calc(100vh - 5rem);
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .hero-img {
    max-height: 20rem;
  }
}
