/* 
FONT
*/
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

/* 
RESETTING
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
VARIABLES
*/

:root {
  --clr-primary-1: #edeffb;
  --clr-primary-2: #e4e7f8;
  --clr-primary-3: #d1d7f4;
  --clr-primary-4: #a4b0e9;
  --clr-primary-5: #4860d2;
  --clr-primary-6: #36489e;
  --clr-primary-7: #324393;
  --clr-primary-8: #19224a;
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  /* font */
  --primary-font: 'Balsamiq Sans', cursive;
}

/* body */
body {
  background: var(--clr-grey-10);
  font-family: var(--primary-font);
}
/*
GLOBAL VARIABLES */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }
}
p {
  color: var(--clr-grey-4);
}

a {
  text-decoration: none;
  color: #222;
}
ul {
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  color: var(--clr-primary-5);
  background: (var(--clr-grey-2));
  padding: 0.375rem 0.775rem;
  font-weight: 400;
  font-size: 0.875rem;
  transition: var(--transition);
  border-radius: var(--radius);
  letter-spacing: var(--spacing);
  cursor: pointer;
  border-color: transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

.cart-button-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.log-btn {
  background: transparent;
  box-shadow: none;
}
.basket-container {
  position: relative;
}

.cart-icon {
  font-size: 1.8rem;
  color: var(--clr-primary-5);
}
.amount-container {
  background: var(--clr-grey-5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 1.4rem;
  font-size: 0.8rem;
  width: 1.4rem;
  border-radius: 50%;
  position: absolute;
  top: -13px;
  right: -10px;
}

.log-btn {
  display: inline-block;
}

/* PAGES */
.page-with-title {
  min-height: calc(100vh - (20vh + 10rem));
}

/* 
 */
.empty-container {
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
/* SECTION-CENTER */
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
.section {
  padding: 5rem 0;
}
